{% extends 'base.html.twig' %}
{% block title %}Write your Tweet{% endblock %}
{% block body %}
<div class="row">
       <div class="col-8 offset-2">
           {{ form(tweetForm) }}
       </div>
</div>
{% endblock %}
